@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9736 0.0017 67.8);
    --foreground: #1d1d1f;
    --muted-foreground: #86868b;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-feature-settings: "cv01", "cv05", "zero", "tnum";
    @apply bg-background text-foreground;
  }
}